/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****************
CSS RESET END
****************/





body {
    width: 100vw;
    height: 100vh;
}

.flag {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(7, 120px);
    grid-template-columns: repeat(10, 120px);
}

.flag>* {
    background-color: #e2af54;
}

.c1-1 {
    grid-area: 1/1/1/1;
}

.c1-2 {
    grid-area: 1/2/1/7;
}

.c1-7 {
    grid-area: 1/7/1/8;
}

.c1-8 {
    grid-area: 1/8/1/11;
}

.c2-1 {
    grid-area: 2/1/7/1;
}

.c2-2 {
    grid-area: 2/2/7/7;
}

.c2-7 {
    grid-area: 2/7/7/7;
}

.c2-8 {
    grid-area: 2/8/2/11;
}

.c3-8 {
    grid-area: 3/8/3/11;
}

.c4-8 {
    grid-area: 4/8/4/11;
}

.c5-8 {
    grid-area: 5/8/5/11;
}

.c6-8 {
    grid-area: 6/8/6/11;
}

.c7-1 {
    grid-area: 7/1/7/1;
}

.c7-2 {
    grid-area: 7/2/7/7;
}

.c7-7 {
    grid-area: 7/7/7/7;
}

.c7-8 {
    grid-area: 7/8/7/11;
}


.flag>* {
    position: relative;
}

.right-triangle {
    clip-path: polygon(0 0, 50% 50%, 0 100%);
}

.left-triangle {
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}

.up-triangle {
    clip-path: polygon(50% 50%, 100% 100%, 0 100%);
}

.down-triangle {
    clip-path: polygon(0 0, 100% 0, 50% 50%);
}

.rhombus {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.square>.rhombus {
    position: absolute;
}

.triangle {
    position: absolute;
    display: flex;
    justify-content: center;
}


.triangle .triangle {
    width: 70%;
    height: 70%;
}

.rect>.triangle {
    width: 80px;
    height: 80px;
}

.side-rect>.triangle {
    width: 100px;
    height: 80px;
}

.rect>.right-triangle {
    top: 20px;
    left: 7px;
}

.rect-vertical>.right-triangle {
    top: 260px;
    left: 7px;
}

.rect>.left-triangle {
    top: 20px;
    right: 8px;
}

.rect-vertical>.left-triangle {
    top: 260px;
    right: 7px;
}



.rect>.down-triangle {
    top: 9px;
    left: 260px;
}

.rect-vertical>.down-triangle {
    top: 7px;
    left: 20px;
}

.rect>.up-triangle {
    bottom: 9px;
    left: 260px;
}

.rect-vertical>.up-triangle {
    bottom: 7px;
    left: 20px;
}

.right-triangle>.right-triangle {
    left: 6px;
    top: 12px;
}


.left-triangle>.left-triangle {
    top: 12px;
    left: 20px;
}

.side-rect>.left-triangle>.left-triangle {
    left: 24px;
}

.down-triangle>.down-triangle {
    top: 5px;
}

.up-triangle>.up-triangle {
    bottom: 5px;
}

.c1-1 .rhombus .rhombus,
.c1-7 .rhombus .rhombus,
.c7-1 .rhombus .rhombus,
.c7-7 .rhombus .rhombus {
    width: 80%;
    height: 80%;
}

.red {
    background-color: #c84a46;
}

.blue {
    background-color: #003f57;
}

.yellow {
    background-color: #e2af54;
}

.flag>div,
.flag>div * {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Stuff inside the cells is recursively smaller*/
.c1-1 *,
.c1-2 *,
.c1-7 *,
.c1-8 *,
.c2-1 *,
.c2-7 *,
.c2-8 *,
.c3-8 *,
.c4-8 *,
.c5-8 *,
.c6-8 *,
.c7-1 *,
.c7-2 *,
.c7-7 *,
.c7-8 * {
    width: 87%;
    height: 87%;
}



.c2-2 * {
    width: 98%;
    height: 98%;
}

.rect * {
    width: 98%;
    height: 90%;
}

.rect-vertical * {
    flex-direction: column;
    width: 90%;
    height: 98%;
}

.c1-1>*,
.c1-2>*,
.c1-7>*,
.c1-8>*,
.c2-1>*,
.c2-2>*,
.c2-7>*,
.c2-8>*,
.c3-8>*,
.c4-8>*,
.c5-8>*,
.c6-8>*,
.c7-1>*,
.c7-2>*,
.c7-7>*,
.c7-8>* {
    width: 100%;
    height: 100%;
}

.arrow {
    display: flex;
    justify-content: center;
}

.right-arrow {
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%, 20% 50%);
}

.left-arrow {
    clip-path: polygon(0 50%, 20% 0, 100% 0, 80% 50%, 100% 100%, 20% 100%);
}

.down-arrow {
    clip-path: polygon(0 0, 50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.up-arrow {
    clip-path: polygon(50% 0, 100% 20%, 100% 100%, 50% 80%, 0 100%, 0 20%);
}

.mix-arrow {
    clip-path: polygon(0 0, 100% 0%, 80% 50%, 100% 100%, 0 100%, 20% 50%);
}

.arrow .arrow {
    width: 90%;
    height: 90%;
}

.rect>img {
    display: block;
    max-width: 230px;
    max-height: 230px;
    width: auto;
    height: auto;
    position: absolute;
    transform: rotate(270deg);
    right: 120px;
    height: 60px;
}